html,
body {
    max-width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    font-family: Lato;
    font-style: normal;
}
header {
    margin: 122px auto;
    background-color: #ed4c5c;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-height: 500px;
   
}
.header_text {
    width: 50%;
    margin: 122px auto;
    padding-left: 15%;
}
.header_title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    max-width: 445px;
    
    color: #FFFFFF;
}
.header_subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    max-width: 60%;
    margin-top: 60px;


    text-align: justify;

    color: #FFFFFF;

}
.download {
    position: absolute;
    display: flex;
    align-items: center;
}
.downloadimg {
    text-align: left;
    padding-top: 50px;
    cursor: pointer;
    margin-right: 25px;
    
}
/* Слайдер */
.slides {
    height: 310px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 40%;
    padding-right: 10%;
}
.slides ul {
    list-style:none;
    
}
.sliderimg {
    border-radius: 20px;
}

/* Кадры анимации #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* анимация css3 */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 12.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 12.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* Задержки css3 */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 4.0s;
    -moz-animation-delay: 4.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 8.0s;
    -moz-animation-delay: 8.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul li img {
    display:block;
}

/* Кадры анимации #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.slides ul li div {
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:26px;
    left:10%;
    margin:0 auto;
    padding:20px;
    position:absolute;
    top:50%;
    width:200px;

    /* Анимация css3 */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 9.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 9.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
main {
    max-height: 500px;
    display: flex;
    margin: 0 auto;
}

.main_text {
    width: 50%;
    margin: auto;
    padding-left: 15%; 
}
.main_title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}
.main_subtitle {
    margin-top: 60px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    max-width: 60%;

    text-align: justify;

    color: black;

}
form {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 40%;
    padding-right: 10%;

}
.first_name {
    width: 26%;
    max-width: 255px;
    padding: 20px 20px;
    margin-top: 100px;
    color: black;
    font-size: 0.89em;
    line-height: 19px;
    border-radius: 6px;
    border: 1px solid black;
}
.first_name:focus {
    border: 1px solid #ed4c5c;
}

.last_name {
    width: 26%;
    max-width: 255px;
    padding: 20px 20px;
    margin-top: 117px;
    margin-left: 20px;
    color:black;
    font-size: 0.89em;
    line-height: 19px;
    border-radius: 6px;
    border: 1px solid black;
}
.last_name:focus {
    border: 1px solid #ed4c5c;
}
.phone {
    width: 72%;
    max-width: 398px;
    padding: 20px 20px;
    margin-top: 20px;
    color:black;
    font-size: 0.89em;
    line-height: 19px;
    border-radius: 6px;
    border: 1px solid black;
}
.phone:focus {
    border: 1px solid #ed4c5c;
}

#select {
    width: 79%;
    max-width: 442px;
    padding: 20px 20px;
    margin-top: 20px;
    color:black;
    font-size: 0.89em;
    line-height: 19px;
    border-radius: 6px;
    border: 1px solid black;
}
#select:focus {
    border: 1px solid #ed4c5c;
}
.btn {
    color: #fff;
    border: 1px solid #ed4c5c;
    background-color: #ed4c5c;
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
}
.btn:hover {
    background-color: #fff;
    border:1px solid #ed4c5c;
    color: #ed4c5c;
}
footer {
    margin-top: 130px;
    display: flex;
    width: 100%;
    height: 435px;
    padding-left: 15%;
}
.address_title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;

}
.address_subtitle {
    margin-top: 33px;
    width: 254px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;

    color: #101010;

}
.copyright {
    margin-top: 200px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #101010;
}
.services_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;
}

.services_subtitle {
    margin-top: 33px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;


    text-transform: capitalize;

    color: #000000;
}
.getintouch_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;

}
.getintouch_mail {
    margin-top: 33px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #101010;

}
.getintouch_phone {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #121212;
}

.SN1 {
    margin-top: 33px;
    margin-left: 5%;
}
.wesupport_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;
}
.wesupportimg {
    margin-top: 33px;

}
.services,
.getintouch,
.wesupport {
    margin-left: 11%;
}